body{background-color:#e0e0e0;margin:0;padding:0 0 20px 0;}
div#page{max-width:980px;background-color:#ffffff;margin:0 auto;padding:15px 20px 0 20px;}
div#page.design-wide{max-width:none;padding:0;}
.page-width{width:100%;max-width:980px;margin:0 auto;}
div#page.design-wide .page-width{max-width:980px;padding:0 20px;}
div#header-bg{}
div#page.design-wide div#header-bg{padding-top:15px;}
header{min-height:80px;position:relative;}
#header-bg{background-color:#ffffff;}
div#logo{position:absolute;top:0;left:0;}
div#page.design-wide div#logo{left:20px;}
div#logo h1{margin:0;}
div#logo a, div#logo span.image{display:block;}
div#logo a{text-decoration:none;}
div#logo span.image{width:145px;height:60px;background:url(../images/logo.svg) top left no-repeat;}
div#logo a span.text{display:none;}
div#mobilemenu-control a, nav#mobilemenu{display:none;}
div#searchbox{width:220px;text-align:right;position:absolute;right:0;bottom:20px;}
div#page.design-wide div#searchbox{right:20px;}
div#searchbox input{width:100%;}
div#searchbox button{margin-left:5px;display:inline-block;}
nav#extramenu{font-size:1.1rem;float:right;}
nav#extramenu ul{margin:0;padding:0;}
nav#extramenu li{margin:0 0 0 10px;padding:0 0 0 10px;border:1px solid #808080;border-style:none none none solid;float:left;list-style-type:none;list-style-image:none;}
nav#extramenu li:first-child{border-left:none;}
nav#extramenu a{color:#000000;text-decoration:none;}
nav#extramenu a:hover{text-decoration:underline;}
nav#extramenu li.language-selector span.text{display:none;}
nav#extramenu li.language-selector span.flag.nor-NO, nav#extramenu li.language-selector span.flag.eng-GB{width:24px;height:16px;background:50% 50% no-repeat;display:inline-block;position:relative;top:1px;}
nav#extramenu li.language-selector span.flag.nor-NO{background-image:url(../images/no.gif);}
nav#extramenu li.language-selector span.flag.eng-GB{background-image:url(../images/en.gif);}
div#topmenu-bg{background-color:#d0d0d0;border:1px solid #d0d0d0;margin-bottom:20px;position:relative;}
div#topmenu-bg.stuck{position:fixed;top:0;left:0;box-shadow:0 2px 4px rgba(0, 0, 0, .3);width:100%;z-index:999;}
nav#topmenu{position:relative;z-index:1000;}
nav#topmenu strong{margin-left:10px;display:none;}
nav#topmenu div.submenu, nav#topmenu li.topextra{display:none;}
nav#topmenu div.dropdownmenu{position:absolute;top:31px;left:-1px;display:none;z-index:1;}
nav#topmenu ul{margin:0;padding:0;position:relative;z-index:1;}
nav#topmenu div.dropdownmenu ul{min-width:200px;border:1px #d0d0d0;border-style:none solid solid solid;}
nav#topmenu div.dropdownmenu ul ul{display:none;}
nav#topmenu li{margin:0 10px 0 0;padding:0;float:left;list-style-type:none;list-style-image:none;position:relative;}
nav#topmenu li li{margin:0;padding:0;border:none;float:none;}
nav#topmenu a{color:#000000;padding:5px 10px;text-decoration:none;display:block;white-space:pre;position:relative;}
nav#topmenu li.selected > a{background-color:#e0e0e0;}
nav#topmenu ul ul, nav#topmenu li.current a.children.menuhover, nav#topmenu a.children.menuhover{background-color:#f8f8f8;}
nav#topmenu ul ul{background-image:-o-linear-gradient(top, #f8f8f8, #f8f8f8 100.0%);background-image:-ms-linear-gradient(top, #f8f8f8, #f8f8f8 100.0%);background-image:-moz-linear-gradient(top, #f8f8f8, #f8f8f8 100.0%);background-image:-webkit-linear-gradient(top, #f8f8f8, #f8f8f8 100.0%);}
nav#topmenu a.children.menuhover{margin-top:-1px;padding:5px 10px 6px 10px;position:relative;top:1px;}
nav#topmenu a:hover{background-color:#e8e8e8 !important;}
div#path-bg{margin:-10px 0 25px 0;clear:both;}
nav#path{font-size:1.1rem;padding:0;}
nav#path em{font-style:normal;}
nav#path em:before{font-family:'FontAwesome';font-size:0.8rem;content:'\f054';display:inline-block;}
nav#path i{font-size:1.1rem;}
div.hide-content-top section#content-top{display:none;}
section#content-top{margin-bottom:20px;}
div#page.design-wide div.content-focus{}
div#page.design-wide section#content-top{max-width:100%;padding:0;}
div.hide-content-left div#content-left-area{padding-left:0;}
div.hide-content-right div#content-right-area{padding-right:0;}
div#content-middle-container{width:100%;display:table;}
section#content-left, section#content-center, section#content-right{display:table-cell;vertical-align:top;}
section#content-left{width:25%;padding-right:15px;}
div.hide-content-left section#content-left{display:none;}
nav#sidemenu ul, nav#sidemenu li{margin:0;padding:0;list-style-type:none;list-style-image:none;}
nav#sidemenu ul{border-top:1px solid #e0e0e0;}
nav#sidemenu ul ul{border-top:none;}
nav#sidemenu li{border-bottom:1px solid #e0e0e0;}
nav#sidemenu li li{margin-top:-5px;border-bottom:none;}
nav#sidemenu a{color:#000000;padding:10px 10px;text-decoration:none;display:block;}
nav#sidemenu li.selected > a{font-weight:bold;}
nav#sidemenu li li a{padding-left:30px;}
nav#sidemenu li li li a{padding-left:50px;}
nav#sidemenu li li li li a{padding-left:70px;}
nav#sidemenu li li li li li a{padding-left:90px;}
nav#sidemenu a:hover{background-color:#f0f0f0;}
section#content-center{padding:0 5px;}
div.hide-content-left section#content-center{padding-left:0;}
div.hide-content-right section#content-center{padding-right:0;}
section#content-right{width:25%;padding-left:15px;}
div.hide-content-right section#content-right{display:none;}
div.hide-content-bottom section#content-bottom{display:none;}
div#footer-bg{border-top:1px solid #e0e0e0;margin-top:25px;}
footer{font-size:1.1rem;padding-bottom:20px;text-align:left;}
footer h3{font-size:1.2rem;font-weight:bold;margin-bottom:10px;}
footer ul, footer li{list-style-type:none;list-style-image:none;}
footer ul{margin:0 !important;padding:0;}
footer li{margin:5px 0 0 0;}
footer li:first-child{margin-top:0;}
div#sociallinks li{display:inline-block;margin-top:3px;}
div#sociallinks li:first-child{margin-top:0;}
div#sociallinks i{margin-right:5px;}
div#sociallinks a{font-size:3.2rem;color:#ccc;margin-left:2px;text-decoration:none;}
div#sociallinks a:hover{color:#ccc;text-decoration:none;}
footer address{font-style:normal;text-align:left;}
footer address p{margin-bottom:5px;}
footer address p:first-child{margin-top:0;}
div#loginbox label{font-weight:normal;margin:10px 0 3px 0;}
div#loginbox label:first-child{margin-top:0;}
div#loginbox div.forgotpassword{margin-top:10px;float:right;}
div#loginbox div.forgotpassword p{margin:0;}
div#loginbox input.button{margin-top:10px;}
div#credits{font-size:1.1rem;margin:20px auto 0 auto;text-align:center;}
div#credits a, div#credits address{color:#808080;}
div#credits address{font-style:normal;padding:0 10px;}
ul.mobilemenu-append{display:none;}