/* CONTENT CSS - 2015 */


/* GENERAL */

div.attribute-image div.attribute-caption p
{
    font-weight: normal;
    color: #000000;
    background-color: #f0f0f0;
    padding: 5px 10px;
}

div.attribute-image img, div.attribute-image-embed img
{
    width: 100%;
}

div.attribute-link
{
    font-size: 1.1rem;
    margin-top: 5px;
}

.l-hide
{
    display: none;
}



/* FULL VIEW */

div.content-view-full div.attribute-title h1
{
    margin: -5px 0 10px 0;
}

div.content-view-full div.attribute-byline
{
    font-size: 1.1rem;
    margin-bottom: 10px;
}

div.content-view-full div.attribute-byline p.author
{
    width: 48%;
    float: left;
}

div.content-view-full div.attribute-byline p.date
{
    width: 48%;
    float: right;
    text-align: right;
}

div.content-view-full > * > div.attribute-image
{
    margin: 15px 0;
}

div.content-view-full > * > div.attribute-short
{
    font-weight: bold;
    margin-top: 10px;
}

div.content-view-full div.attribute-short + div.attribute-long
{
    margin-top: 10px;
}


/* LINE VIEW */

div.content-view-children
{
    clear: both;
}

div.content-view-children, div.content-view-list, div.content-view-full + div.content-view-full div.class-frontpage-block div.content-view-children
{
    margin-top: 20px;
}

div.class-frontpage-block div.content-view-children
{
    margin-top: 0;
}

div.class-frontpage-block + div.class-frontpage-block
{
    margin-top: 20px;
}

div.content-view-line
{
    clear: both;
}

div.content-view-line:after
{
    content: "-";
    height: 0;
    visibility: hidden;
    display: block;
    clear: both;
}

div.content-view-line + div.content-view-line
{
    margin-top: 20px;
}

div.content-view-line div.attribute-title h2
{
    margin-top: 0;
}

div.content-view-line > * > div.attribute-image
{
    width: 200px;
    margin: 0 0 0 10px;
    float: right;
}


/* BLOCK VIEW */

div.content-view-block div.attribute-title:first-child h2
{
    margin-top: 0;
}

div.content-view-block div.attribute-image + div.attribute-title h2
{
    margin-top: 10px;
}

.l-1 div.content-view-block div.attribute-title h2, .l-2 div.content-view-block div.attribute-title h2
{
    font-size: 1.3rem;
}

.l-3 div.content-view-block div.attribute-title h2, .l-4 div.content-view-block div.attribute-title h2
{
    font-size: 1.6rem;
}

div.content-view-block div.attribute-icon
{
    text-align: center;
}


/* BOX VIEW */

div.infobox, div.bannerbox
{
    clear: both;
}

div.infobox + div.infobox, div.infobox + div.bannerbox, div.bannerbox + div.bannerbox, div.bannerbox + div.infobox
{
    margin-top: 20px;
}

div.infobox
{
    background-color: #ffffff;
    padding: 9px 9px 12px 9px;
    border: 1px solid #e0e0e0;
}

div.content-view-box > div.attribute-title
{
    background-color: #f0f0f0;
    margin: -9px -9px 0 -9px;
    padding: 7px 9px 2px 9px;
}

div.content-view-box > div.attribute-title > h2
{
    font-size: 1.3rem;
    font-weight: 700;
    color: #404040;
}

div.content-view-box div.attribute-title h2, div.content-view-box div.attribute-title h3
{
    margin: 0 0 5px 0;
}

div.content-view-box + div.content-view-box
{
    margin-top: 10px;
}

div.content-view-box ul
{
    margin: 5px 0 5px 1rem;
}

div.content-view-box div.content-view-list
{
    margin-top: 10px;
}

div.content-view-boxline + div.content-view-boxline
{
    margin-top: 10px;
}


/* EMBED-OBJECT POSITION */

div.object-right, div.object-left, div.object-center
{
    margin-top: 5px !important;
    margin-bottom: 5px !important;
}

div.object-right
{
    margin-left: 20px !important;
    float: right;
}

div.object-left
{
    margin-right: 20px !important;
    float: left;
}

div.object-center
{
    margin: 10px 0;
    text-align: center;
}

div.object-center > *
{
    margin: 0 auto;
}


/* EMBEDDED IMAGES */

div.content-view-embed div.attribute-image
{
    margin: 0 auto;
    float: none;
    text-align: center;
}

div.content-view-embed div.attribute-image p
{
    margin: 0;
}

div.attribute-image-embed img
{
    width: 100%;
}

div.attribute-image-embed.size-large
{
	width: 100% !important;
}

div.attribute-image-embed.size-medium
{
	width: 50% !important;
}

div.attribute-image-embed.size-small
{
	width: 33% !important;
}


/* EMBEDDED FILES */

a.mime-icon {
    padding-left: 20px;
    background-repeat: no-repeat;
    height: 20px;
    display: block;
}

div.content-view-embed > a > img {
    float: left;
    margin-right: 7px;
}



/* SLIDESHOW */

div.slideshow-wrapper
{
    margin: 0 auto;
}

div#page.design-wide div#topmenu-bg + div#content-top-bg > * > div.slideshow
{
    margin-top: -20px;
}

div.slideshow
{
    margin: 0 auto;
    position: relative;
    clear: both;
}

div.slideshow div.slide
{
    width: 100%;
}

div.slideshow-controls p
{
    margin: 0;
}

div.slideshow-controls a
{
    font-size: 1.6rem;
    padding: 0;
    text-decoration: none;
    position: absolute;
    display: block;
    top: 40%;
    z-index: 500;
}

div.slideshow-controls i:first-child
{
    color: rgba(255, 255, 255, 0.5);
}

div.slideshow-controls i:last-child
{
    color: rgba(0, 0, 0, 1);
}

div.slideshow-controls a.slide-previous
{
    left: 5px;
}

div.slideshow-controls a.slide-next
{
    right: 5px;
}

div.slideshow-slides
{
    position: relative;
}

div.class-slidebanner
{
    position: relative;
}

div.class-slidebanner div.attribute-image
{
    margin: 0 !important;
    padding: 0 !important;
    float: none;
}

div.class-slidebanner img
{
    width: 100%;
    display: block;
}

div.class-slidebanner div.banner-overlay
{
    width: 100%;
    background-color: rgba( 255, 255, 255, 0.5 );
    position: absolute;
    bottom: 0;
}

div.class-slidebanner div.attribute-title h2
{
    font-size: 2rem;
    font-weight: bold;
    margin: 0;
    padding: 15px 20px;
}

div.class-slidebanner div.attribute-title h2, div.class-slidebanner div.attribute-title h2 a
{
    color: #000000;
}

div.class-slidebanner div.attribute-short
{
    margin-top: -10px;
    padding-bottom: 5px;
}


div.class-slidebanner div.attribute-short p
{
    font-size: 1.6rem;
    margin: 0;
    padding: 0 20px 10px 20px;
}

div.slideshow-markers
{
    height: 20px;
    font-size: 50px;
    margin: -15px 0 30px 0;
    text-align: center;
    display: none;
}

div.slideshow-markers span
{
    color: #e0e0e0;
    cursor: pointer;
}

div.slideshow-markers a
{
    color: #000000;
    background-color: #e0e0e0;
    margin-right: 5px;
    padding: 2px 7px;
    border-radius: 10px;
    text-decoration: none;
    display: inline-block;
}

div.slideshow-markers span.cycle-pager-active
{
    color: #a0a0a0;
}


/* FOCUS POINTS */

* + div.content-focus
{
    margin-top: 20px;
}

div.content-view-block div.class-focus
{
    background-color: #f0f0f0;
    padding: 10px 10px 5px 10px;
}


/* ARTICLES */

div.content-view-full div.class-article .fb-comments
{
    margin-top: 30px;
}


/* CALENDAR AND EVENTS */

div.content-view-full div.class-event div.attribute-date div.add
{
    float: right;
}

table.calendar
{
    border: 1px solid #e0e0e0;
    border-style: none solid solid none;
    background-color: #ffffff;
}

table.calendar th, table.calendar td
{
    padding: 5px 5px 3px 5px;
    border: 1px solid #e0e0e0;
    border-style: solid none none solid;
    text-align: center;
}

table.calendar th.dayname
{
    border-left: none;
}

table.calendar td.active
{
    background-color: #e0e0e0;
}

table.calendar td.current
{
    font-weight: bold;
    background-color: #e04020;
    color: #ffffff;
}

p.calendar-tip a
{
    text-decoration: none;
}

p.calendar-tip a:hover
{
    text-decoration: underline;
}


table.calendar td.active, table thead th.next, table thead th.previous
{
    cursor: pointer;
}

table.calendar td.day
{
    cursor: pointer;
}

table.calendar thead tr:nth-child(1)
{
    color: #404040;
    background-color: #d0d0d0;
}

table.calendar thead tr:nth-child(2)
{
    color: #404040;
    background-color: #f0f0f0;
}

div.content-view-full div.class-eventcalendar div.content-view-children
{
    margin-top: 10px;
}


div.content-view-full div.class-eventcalendar div.row > div.col > h2
{
    font-size: 1.3rem;
    font-weight: 700;
    margin-bottom: 20px;
    padding-bottom: 5px;
    border-bottom: 1px solid #e0e0e0;
}

div.content-view-full div.class-eventcalendar div.row > div.col > div.content-view-children + h2
{
    margin-top: 25px;
}

div.content-view-full div.class-event div.attribute-date
{
    font-weight: 400;
}

div.content-view-full div.class-event div.attribute-date + div.attribute-location
{
    margin-top: 0;
}

div.content-view-full div.class-event div.attribute-short
{
    margin-top: 10px;
}

div.content-view-full div.class-event div.attribute-date a.calendar-add
{
    font-size: 1.1rem;
    font-weight: normal;
    float: right;
}

div.content-view-full div.class-event div.attribute-date a.calendar-add i
{
    margin-right: 5px;
}

div.content-view-line div.class-event
{
    padding-left: 50px;
}

div.content-view-line div.class-event div.icon-box
{
    height: 40px;
    width: 40px;
    background-color: #c0c0c0;
    border-radius: 50%;
    display: table;
    margin-left: -50px;
    float: left;
}

div.content-view-line div.class-event div.icon-symbol
{
    font-size: 2.2rem;
    font-weight: bold;
    color: #ffffff;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

div.content-search button
{
    margin-left: 5px;
    display: inline-block;
}

div.content-search div.content-view-line div.class-event
{
    padding-left: 0;
}

div.content-search div.content-view-line div.class-event div.icon-box
{
    display: none;
}

div.content-view-line div.class-event div.attribute-title h3
{
    font-size: 2rem;
    margin: 0;
}

/* div.content-view-box div.class-event
{
    padding-left: 30px;
}

div.content-view-box div.class-event div.icon-box
{
    height: 24px;
    width: 24px;
    background-color: #c0c0c0;
    border-radius: 50%;
    display: table;
    margin-left: -30px;
    float: left;
}

div.content-view-box div.class-event div.icon-symbol
{
    font-size: 1.2rem;
    font-weight: bold;
    color: #ffffff;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}
 */
div.content-view-box div.class-event div.attribute-title h3
{
    font-size: 1.3rem;
    font-weight: 700;
    margin: 0;
}

div.content-view-box div.class-event div.attribute-date, div.content-view-box div.class-event div.attribute-location
{
    font-size: 1.1rem;
}

/* PERSON CLASS */

div.attribute-description
{
    margin-top: 20px;
}

/* FEEDBACK FORM */

div.class-feedback-form div.block
{
    margin: 10px 0;
}

/* PAGE NAVIGATOR */

div.pagenavigator
{
    margin-top: 15px;
}

div.pagenavigator p
{
    font-size: 1.1rem;
}

div.pagenavigator a
{
    text-decoration: underline;
}

div.pagenavigator a, div.pagenavigator span.previous, div.pagenavigator span.selected, div.pagenavigator span.next
{
    padding: 0 5px;
}

div.pagenavigator a.previous, div.pagenavigator span.previous
{
    padding-left: 0;
}

div.pagenavigator span.selected
{
    font-weight: bold;
}

div.pagenavigator span.divider
{
    color: #c0c0c0;
}


/* TO BE CLEANED UP */


/* Youtube embed */

.youtube {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;
    margin-bottom: 10px;
}

.youtube iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/**
 * Frontend editing
 */

/* Ez Toolbar Fix icons too large (Frontend editing) the fix is for version view.*/
#ezwt img, #content-middle form#edit img, #content-middle #fix #maincontent-design img{
    width: inherit !important;
    display: inline;
}

#content-middle form#edit .block {
    clear: both;
}
#content-middle form#edit > .block {
    overflow:hidden;
}
#content-middle form#edit > .block > label{
    font-weight: bold;
}

div#content-middle form#edit fieldset {
    border: 1px solid #D7D7D7;
    margin: 10px 0 15px 0;
}

/* Fieldset toggle */

div.fieldsetcontent.closed {
    display: none;
}
span.fieldsetopener {
    cursor: pointer;
    font-size: 1.7rem;
    font-weight: 500;
    margin-left: 5px;
}

/* Ez frontend editing: "column system for input fields"*/
#content-middle form#edit .block .element {
    float: left;
}

/* Used for emails */
.spamfilter {
    display: none;
}

/* Survey */
div.attribute-survey div.survey-question input.disabled, div.attribute-survey div.survey-question textarea.disabled, div.attribute-survey div.survey-question select.disabled
{
    background-color: #e0e0e0;
}

p.survey-mandatory
{
    margin-top: 10px;
}

div.survey-question
{
    clear: both;
    margin-top: 10px;
}

div.survey-question:after
{
    content: "-";
    height: 0;
    font-size: 0;
    visibility: hidden;
    display: block;
    clear: both;
}

div.attribute-survey div.message-warning h2, div.attribute-survey div.message-warning a,
div.attribute-survey div.message-warning h4, div.attribute-survey .error, div.attribute-survey .required
{
    color: #e53a3a;
}

div.attribute-survey div.survey-question.error input,
div.attribute-survey div.survey-question.error textarea,
div.attribute-survey div.survey-question.error select
{
    background-color: #f5fafa;
}

div.attribute-survey div.message-warning
{
    margin-top: 1em;
}

div.survey-choices
{
    clear: both;
}

div.survey-choices div.element
{
    float: left;
    margin-right: 20px;
}

div.survey-choices label
{
    font-weight: normal;
}

div.survey-choices input[type='text'],
div.survey-choices input[type='password'],
div.survey-choices textarea
{
    width: 100%;
}

div.survey-view div.buttonblock
{
    margin-top: 10px;
}

div.survey-view .required, div.survey-edit .required
{
    background: url('../../../../ezsurvey/design/standard/images/survey-asterisk.svg') no-repeat;
    position: relative;
    width: 0.5rem;
    height: 0.5rem;
    bottom: 0.2rem;
    padding-left: 0.3rem;
    display: inline-block;
}

div.survey-view .tip, div.survey-edit .tip
{
    background: url('../../../../ezsurvey/design/standard/images/survey-info.svg') no-repeat;
    cursor: pointer;
    width: 1rem;
    height: 1rem;
    display: inline-block;
    padding-left: 0.3rem;
}

div.attribute-survey .required .text, div.attribute-survey .tip .text,
div.survey-edit .required .text, div.survey-edit .tip .text
{
    display: none;
    font-weight: bold;
}

div.attribute-survey .modal-position
{
    width: 100%;
    display: none;
    position: relative;
    z-index: 999;
    background: #88b7d5;
    border: 1px solid #c2e1f5;
    border-radius: 3px;
    color: #ffffff;
    margin-bottom: 11px;
    font-style: italic;
}

div.attribute-survey .modal
{
    padding: 10px;
}

div.attribute-survey .modal:after, div.attribute-survey .modal:before
{
    top: 100%;
    left: 50%;
    border: 1px solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

div.attribute-survey .modal:after
{
    border-color: rgba(136, 183, 213, 0);
    border-top-color: #88b7d5;
    border-width: 10px;
    margin-left: -10px;
}

div.attribute-survey .modal:before
{
    border-color: rgba(194, 225, 245, 0);
    border-top-color: #c2e1f5;
    border-width: 11px;
    margin-left: -11px;
}
